@font-face {
  font-family: "pixel";
  src: url("../assets/BPdotsSquareBold.otf");
}

html,
body {
  font-family: 'pixel', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  letter-spacing: -0.02em;
  line-height: 1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $background-color;
  overscroll-behavior: none; // 禁止 Chrome 63+ 的下拉刷新行为
}

*,
::after,
::before {
  box-sizing: border-box;
}