$theme-color: #d46791;
$item-color:#e9e9e9;
$background-color: #f7f7f7;
$white-color: #ffffff;
$text-title-color:#4a4a4a;
$text-meta-color:#9b9b9b;


$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-small-x: 14px;
$font-size-medium: 16px;
$font-size-medium-x: 18px;
$font-size-large: 20px;
$font-size-large-x: 22px;